
section,
.section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 30px 0;
    scroll-margin-top: 100px;
    overflow: clip;
}

form.small {
    font-family: "Ubuntu Mono";
    font-size:0.8rem;
}

form.small button, form.small a.btn,  form.small-st button, form.small-st a.btn{
    height:24px;
    width: 24px;
    padding:0;
    margin-bottom:2px;
}

form.small input[type="text"] {
    padding:0px 0px 0px 3px;
    line-height:6px;
}

table.table-sm td {
    padding:3px 5px 3px 1px;
    margin:0px 5px 0px 0px;
}

input[type="text"].list {
    padding:0px 0px 0px 2px;
    margin:0px 2px 0px 0px;
    line-height:6px;
}

div.small {
    padding:0;
    margin:0;
    line-height:10px;
}

img.img-md {
    width:50px;
    height:50px;
}

img.img-sm {
    width:30px;
    height:30px;
}

img.img-xs {
    width:20px;
    height:20px;
}